/* Flexbox utility classes */
.flex {
    display: flex;
}

/* .flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
} */

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

/* .row {
    flex-direction: row;
}

.column {
    flex-direction: column;
} */

/* Nav */

/* .nav {
    width: 100%;
} */

.nav-link {
    text-decoration: none;
    color: #000;
    opacity: .75;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 23px;
    padding-right: 15px;
}

.nav-link:visited {
    color: #609;
}

.nav-link:hover {
    text-decoration: underline;
}
