/* Site */

.site {
    margin: 0px 0px 0px 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Flexbox utility classes */
.flex {
    display: flex;
}

/* .flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
} */

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* .space-around {
    justify-content: space-around;
} */

/* .row {
    flex-direction: row;
}

.column {
    flex-direction: column;
} */



/* Nav */

.nav {
    padding-top:13px;
    padding-bottom: 13px;
}

.nav-link {
    font-size: 13px;
}

.link {
    text-decoration: none;
    color: #000;
    opacity: .75;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 23px;
    padding-right: 15px;
    font-family: arial, sans-serif;

}

.nav-link:visited {
    color: #609;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Main Content */
.container {
    flex: 1;
    flex-direction: column
}

.main-logo-wrap {
    margin-top: 150px;
}

.search {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
    margin-bottom: 25px;

}


.search-input-field {
    border: hidden;
    width: 300px;
}

.search-input-field:active, .search-input-field:focus {
    outline: none;
    /* border: none; */
}