/* Site */

.site {
    margin: 0px 0px 0px 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: arial, sans-serif;
}

/* Flexbox utility classes */
.flex {
    display: flex;
}

/* .flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
} */

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* .space-around {
    justify-content: space-around;
} */

/* .row {
    flex-direction: row;
}

.column {
    flex-direction: column;
} */

.align-self-center {
    align-self: center;
}

/* Nav */

.nav {
    padding-top:13px;
    padding-bottom: 13px;
}

.nav-link {
    font-size: 13px;
}

.link {
    text-decoration: none;
    color: #000;
    opacity: .75;
    font-size: 13px;
    padding-left: 25px;
    padding-top: 23px;
    padding-right: 25px;
    

}

.nav-link:visited {
    color: #609;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Main Content */
.container {
    flex: 1;
    flex-direction: column;
}

.main-logo-wrap {
    margin-top: 110px;
}

.search {
    border: 1px solid rgb(112, 112, 112, .3);
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 30px;
}

.fas {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    opacity: .5;
}

.search-input-field {
    border: hidden;
    width: 450px;
    font-size: 16px;
}

.search-input-field:active, .search-input-field:focus {
    outline: none;
    /* border: none; */
}

.under-search-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.footer {
    background: #f2f2f2;
    height: 40px;
    border-top: 1px solid #e4e4e4;
}

.foot-link {
    font-size: 14px;
}

.foot-link:hover {
    text-decoration: underline;
    cursor: pointer;
}